@font-face {
    font-family: "Gotham Rounded Medium";
    src: url(../fonts/Gotham-Rounded-Medium.ttf) format("opentype");
}

@font-face {
    font-family: "Gotham Rounded Book";
    src: url(../fonts/Gotham-Rounded-Book.ttf) format("opentype");
}

@font-face {
    font-family: "Gotham Rounded";
    src: url(../fonts/Gotham-Rounded-Light.ttf) format("opentype");
    font-weight: normal;
}
